In [31]:
import pandas as pd
from sgt.utils_wren import get_aflow_label_from_spg_analyzer,get_aflow_label_from_spglib
from sklearn.metrics import mean_absolute_error
import json

In [39]:
with open('pretrain_data/all_norm_clean.json','r') as file:
    dict = json.load(file)

In [40]:
len(dict['a'])

645953

In [20]:
df = pd.read_csv('./results/test_results_matbench_phonons_2.csv')
df

     Unnamed: 0        Pred           GT
0             0  222.361627   240.585757
1             1  360.623158   338.585740
2             2  386.700863   400.585749
3             3  469.903389   481.585742
4             4  604.442048   607.585731
..          ...         ...          ...
248         248  192.783743   225.525574
249         249  187.142109   190.002305
250         250  573.192405   541.585737
251         251  250.525841   223.585762
252         252  986.136759  1038.585703

[253 rows x 3 columns]

In [21]:
mean_absolute_error(df['Pred'],df['GT'])

37.855673869894545

In [34]:
df = pd.read_csv('./pretrain_data/unique_combied_all.csv')
df

,formula,spg_symbol,a,b,c,alpha,beta,gama
0,Tl1 Ag1 Te2,I-4m2,5.508096,5.508096,5.508100,60.0000,60.0000,60.0000
1,Ga4 Te4,P6_3/m2/m2/c,5.508096,5.508096,5.508100,60.0000,60.0000,60.0000
2,Ta1 S2,R3m,5.508096,5.508096,5.508100,60.0000,60.0000,60.0000
3,Ti2 Se2,P6_3/m2/m2/c,5.508096,5.508096,5.508100,60.0000,60.0000,60.0000
4,Nb2 S4,P6_3/m2/m2/c,5.508096,5.508096,5.508100,60.0000,60.0000,60.0000
...,...,...,...,...,...,...,...,...
645948,Zn4 H74 C68 O26,P1,17.077400,17.077401,18.050584,90.0148,90.0370,90.0209
645949,Cu2 H28 C24 N14 O8,P1,9.482900,10.654546,10.968097,84.5992,87.4517,80.5724
645950,Zn2 H13 C53 N17 O8,P1,9.730220,10.540540,10.654537,84.5047,89.9999,89.9989
645951,Zn12 H72 C120 O48,P1,23.203240,23.204048,23.204068,60.0005,60.0013,60.0012
645952,Zn2 H40 C43 N2 O19,P1,14.044220,14.048230,14.971486,89.9933,88.4015,89.9987

In [23]:
df2 = pd.read_csv('./pretrain_data/clean_unique_combied_all.csv')
df2

,formula,spg_symbol,abc,angles,a,b,c,alpha,beta,gama
0,Ca2 Mn2 Si2,P4/n2_1/m2/m,"[3.85943, 3.85943, 27.72391]","[90.0, 90.0, 90.0]",3.85943,3.859430,27.723910,90.0000,90.0000,90.0000
1,Rb2 Mn2 P2,P4/n2_1/m2/m,"[3.83732, 3.83732, 29.18767]","[90.0, 90.0, 90.0]",3.83732,3.837320,29.187670,90.0000,90.0000,90.0000
2,Tm1 Co2 B2 C1,I4/m2/m2/m,"[3.48342, 3.48342, 5.754212]","[107.6189, 107.6189, 90.0]",3.48342,3.483420,5.754212,107.6189,107.6189,90.0000
3,Tm2 Co4 B4 C2,I4/m2/m2/m,"[3.48665, 3.48665, 10.40624]","[90.0, 90.0, 90.0]",3.48665,3.486650,10.406240,90.0000,90.0000,90.0000
4,Tm2 Co4 B4 C2,P4mm,"[3.48665, 3.48665, 10.40624]","[90.0, 90.0, 90.0]",3.48665,3.486650,10.406240,90.0000,90.0000,90.0000
...,...,...,...,...,...,...,...,...,...,...
642454,Zn4 H74 C68 O26,P1,"[17.0774, 17.077401, 18.050584]","[90.0148, 90.037, 90.0209]",17.07740,17.077401,18.050584,90.0148,90.0370,90.0209
642455,Cu2 H28 C24 N14 O8,P1,"[9.4829, 10.654546, 10.968097]","[84.5992, 87.4517, 80.5724]",9.48290,10.654546,10.968097,84.5992,87.4517,80.5724
642456,Zn2 H13 C53 N17 O8,P1,"[9.73022, 10.54054, 10.654537]","[84.5047, 89.9999, 89.9989]",9.73022,10.540540,10.654537,84.5047,89.9999,89.9989
642457,Zn12 H72 C120 O48,P1,"[23.20324, 23.204048, 23.204068]","[60.0005, 60.0013, 60.0012]",23.20324,23.204048,23.204068,60.0005,60.0013,60.0012
642458,Zn2 H40 C43 N2 O19,P1,"[14.04422, 14.04823, 14.971486]","[89.9933, 88.4015, 89.9987]",14.04422,14.048230,14.971486,89.9933,88.4015,89.9987

In [24]:
import os
import json
df = None
# Specify the directory you want to read from
folder_path = './jdft3d/'

# List all files in the directory using os.listdir
files = os.listdir(folder_path)

# Filter the list to only JSON files
json_files = [f for f in files if f.endswith('.json')]

# Create an empty list to hold the data
data = []

# Loop through each JSON file
for json_file in json_files:
    
    # Create the full file path by joining the folder path and the file name
    file_path = os.path.join(folder_path, json_file)

    # Open each JSON file and load the data
    df = pd.concat([df,pd.read_json(file_path)])

In [26]:
df.columns

Index(['formation_energy_peratom', 'optb88vdw_bandgap', 'elastic_tensor',
       'effective_masses_300K', 'kpoint_length_unit', 'encut',
       'optb88vdw_total_energy', 'mbj_bandgap', 'epsx', 'mepsx', 'epsy',
       'mepsy', 'epsz', 'mepsz', 'atoms', 'kpoints_array', 'jid',
       'bulk_modulus_kv', 'shear_modulus_gv', 'modes', 'magmom_outcar',
       'magmom_oszicar', 'icsd', 'spillage', 'slme', 'dfpt_piezo_max_eij',
       'dfpt_piezo_max_dij', 'dfpt_piezo_max_dielectric',
       'dfpt_piezo_max_dielectric_electronic',
       'dfpt_piezo_max_dielectric_ionic', 'max_ir_mode', 'min_ir_mode',
       'n-Seebeck', 'p-Seebeck', 'exfoliation_energy', 'n-powerfact',
       'p-powerfact', 'ehull', 'dfpt_piezo_max_dielectric_ioonic', 'gv',
       'mpid', 'form_enp', 'final_str', 'mbj_gap', 'fin_en', 'elastic',
       'incar', 'kpoints', 'kp_leng', 'eff_mass', 'op_gap', 'initial_str',
       'magmom', 'kv', 'spg_number', 'spg_symbol', 'formula', 'func',
       'maxdiff_mesh', 'maxdiff_bz', 'max_efg', 'avg_elec_mass',
       'avg_hole_mass', 'ncond', 'pcond', 'nkappa', 'pkappa', 'Tc_supercon',
       'dimensionality', 'efg', 'xml_data_link', 'typ', 'spg', 'crys',
       'density', 'poisson', 'raw_files', 'nat', 'hse_gap', 'reference',
       'search', 'desc'],
      dtype='object')

In [40]:
from pymatgen.core import Structure,Composition
from pymatgen.symmetry.groups import SpaceGroup
from jarvis.core.atoms import Atoms

formula_list = []
spg_list = []
a_list = []
b_list = []
c_list = []
alpha_list = []
beta_list = []
gama_list = []

for x in df['atoms']:
    try:
        atom = Atoms.from_dict(x)
        spg_symbol = SpaceGroup(atom.get_spacegroup[1]).full_symbol
        formula = atom.pymatgen_converter().formula
        abc = x['abc']
        angles = x['angles']
        a,b,c = float(abc[0]),float(abc[1]),float(abc[2])
        alpha,beta,gama = float(angles[0]),float(angles[1]),float(angles[2])
        formula_list.append(formula)
        spg_list.append(spg_symbol)
        a_list.append(a)
        b_list.append(b)
        c_list.append(c)
        alpha_list.append(alpha)
        beta_list.append(beta)
        gama_list.append(gama)
    except:
        continue

    # print(a,b,c)
    # break

/home/hongshuh/anaconda3/envs/space/lib/python3.9/site-packages/pymatgen/core/periodic_table.py:209: UserWarning: No electronegativity for He. Setting to NaN. This has no physical meaning, and is mainly done to avoid errors caused by the code expecting a float.
  warnings.warn(
/home/hongshuh/anaconda3/envs/space/lib/python3.9/site-packages/pymatgen/core/periodic_table.py:209: UserWarning: No electronegativity for Ne. Setting to NaN. This has no physical meaning, and is mainly done to avoid errors caused by the code expecting a float.
  warnings.warn(
/home/hongshuh/anaconda3/envs/space/lib/python3.9/site-packages/pymatgen/core/periodic_table.py:209: UserWarning: No electronegativity for Ar. Setting to NaN. This has no physical meaning, and is mainly done to avoid errors caused by the code expecting a float.
  warnings.warn(

In [81]:
mb = pd.read_csv('./data/mp.csv')
mb.iloc[78080]

material_id                                                     mp-1212196
formula_pretty                                                Rb2Nb2Si2O11
energy_per_atom                                                   -7.68791
formation_energy_per_atom                                        -2.545093
energy_above_hull                                                  0.31205
decomposition_enthalpy                                             0.31205
energy_type                                                            GGA
spacegroup_symbol                                                   P4_122
wyckoff_spglib               A2B11C2D2_tP136_91_2d_2c10d_acd_2d:Nb-O-Rb-Si
label                                                                False
fomula                                                     Rb2 Nb2 Si2 O11
spg_symbol                                                          P4_122
formula                                                    Rb2 Nb2 Si2 O11
Name: 78080, dtype: object

In [78]:
mb.groupby('label').count()

,material_id,formula_pretty,energy_per_atom,formation_energy_per_atom,energy_above_hull,decomposition_enthalpy,energy_type,spacegroup_symbol,wyckoff_spglib,fomula,spg_symbol,formula
label,,,,,,,,,,,,
False,119252,119252,119252,119252,119252,119252,119252,119252,119252,119252,119252,119252
True,35463,35463,35463,35463,35463,35463,35463,35463,35463,35463,35463,35463

In [79]:
wbm = pd.read_csv('./data/wbm.csv')
wbm.groupby('label').count()

,material_id,formula,n_sites,volume,uncorrected_energy,e_form_per_atom_wbm,e_above_hull_wbm,bandgap_pbe,wyckoff_spglib,uncorrected_energy_from_cse,e_correction_per_atom_mp2020,e_correction_per_atom_mp_legacy,e_form_per_atom_uncorrected,e_form_per_atom_mp2020_corrected,e_above_hull_mp2020_corrected_ppd_mp,site_stats_fingerprint_init_final_norm_diff,spg_symbol
label,,,,,,,,,,,,,,,,,
False,214138,214138,214138,214138,214138,214138,214138,214138,214138,214138,214138,214138,214138,214138,214138,214138,214138
True,42825,42825,42825,42825,42825,42825,42825,42825,42825,42825,42825,42825,42825,42825,42825,42825,42825

In [50]:
sample_dict={
    'formula':formula_list,
    'spg_symbol':spg_list,
    'a':a,
    'b':b,
    'c':c,
    'alpha':alpha,
    'beta':beta,
    'gama':gama,

}

In [38]:
with open(f'./pretrain_data/all_norm_clean.json', 'w') as json_file:
    json.dump(sample_dict, json_file)

In [76]:
with open(f'./pretrain_data/all_final.json', 'w') as json_file:
    json.dump(sample_dict, json_file)

In [52]:
sample_csv = pd.read_json('./pretrain_data/jdft3d.json')

In [30]:
combined = pd.read_csv('pretrain_data/clean_unique_combied_all.csv')
combined

,formula,spg_symbol,abc,angles,a,b,c,alpha,beta,gama
0,Ca2 Mn2 Si2,P4/n2_1/m2/m,"[3.85943, 3.85943, 27.72391]","[90.0, 90.0, 90.0]",3.85943,3.859430,27.723910,90.0000,90.0000,90.0000
1,Rb2 Mn2 P2,P4/n2_1/m2/m,"[3.83732, 3.83732, 29.18767]","[90.0, 90.0, 90.0]",3.83732,3.837320,29.187670,90.0000,90.0000,90.0000
2,Tm1 Co2 B2 C1,I4/m2/m2/m,"[3.48342, 3.48342, 5.754212]","[107.6189, 107.6189, 90.0]",3.48342,3.483420,5.754212,107.6189,107.6189,90.0000
3,Tm2 Co4 B4 C2,I4/m2/m2/m,"[3.48665, 3.48665, 10.40624]","[90.0, 90.0, 90.0]",3.48665,3.486650,10.406240,90.0000,90.0000,90.0000
4,Tm2 Co4 B4 C2,P4mm,"[3.48665, 3.48665, 10.40624]","[90.0, 90.0, 90.0]",3.48665,3.486650,10.406240,90.0000,90.0000,90.0000
...,...,...,...,...,...,...,...,...,...,...
642454,Zn4 H74 C68 O26,P1,"[17.0774, 17.077401, 18.050584]","[90.0148, 90.037, 90.0209]",17.07740,17.077401,18.050584,90.0148,90.0370,90.0209
642455,Cu2 H28 C24 N14 O8,P1,"[9.4829, 10.654546, 10.968097]","[84.5992, 87.4517, 80.5724]",9.48290,10.654546,10.968097,84.5992,87.4517,80.5724
642456,Zn2 H13 C53 N17 O8,P1,"[9.73022, 10.54054, 10.654537]","[84.5047, 89.9999, 89.9989]",9.73022,10.540540,10.654537,84.5047,89.9999,89.9989
642457,Zn12 H72 C120 O48,P1,"[23.20324, 23.204048, 23.204068]","[60.0005, 60.0013, 60.0012]",23.20324,23.204048,23.204068,60.0005,60.0013,60.0012
642458,Zn2 H40 C43 N2 O19,P1,"[14.04422, 14.04823, 14.971486]","[89.9933, 88.4015, 89.9987]",14.04422,14.048230,14.971486,89.9933,88.4015,89.9987

In [53]:
new_combined = pd.concat([sample_csv,combined.drop(columns=['abc','angles'])])
new_combined

,formula,spg_symbol,a,b,c,alpha,beta,gama
0,Tl1 Ag1 Te2,I-4m2,5.508096,5.508096,5.508100,60.0000,60.0000,60.0000
1,Ga4 Te4,P6_3/m2/m2/c,5.508096,5.508096,5.508100,60.0000,60.0000,60.0000
2,Ta1 S2,R3m,5.508096,5.508096,5.508100,60.0000,60.0000,60.0000
3,Ti2 Se2,P6_3/m2/m2/c,5.508096,5.508096,5.508100,60.0000,60.0000,60.0000
4,Nb2 S4,P6_3/m2/m2/c,5.508096,5.508096,5.508100,60.0000,60.0000,60.0000
...,...,...,...,...,...,...,...,...
642454,Zn4 H74 C68 O26,P1,17.077400,17.077401,18.050584,90.0148,90.0370,90.0209
642455,Cu2 H28 C24 N14 O8,P1,9.482900,10.654546,10.968097,84.5992,87.4517,80.5724
642456,Zn2 H13 C53 N17 O8,P1,9.730220,10.540540,10.654537,84.5047,89.9999,89.9989
642457,Zn12 H72 C120 O48,P1,23.203240,23.204048,23.204068,60.0005,60.0013,60.0012
642458,Zn2 H40 C43 N2 O19,P1,14.044220,14.048230,14.971486,89.9933,88.4015,89.9987

In [55]:
new_combined.to_csv('./pretrain_data/unique_combied_all.csv',index=None)

In [61]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [35]:
new_combined = df
new_combined

,formula,spg_symbol,a,b,c,alpha,beta,gama
0,Tl1 Ag1 Te2,I-4m2,5.508096,5.508096,5.508100,60.0000,60.0000,60.0000
1,Ga4 Te4,P6_3/m2/m2/c,5.508096,5.508096,5.508100,60.0000,60.0000,60.0000
2,Ta1 S2,R3m,5.508096,5.508096,5.508100,60.0000,60.0000,60.0000
3,Ti2 Se2,P6_3/m2/m2/c,5.508096,5.508096,5.508100,60.0000,60.0000,60.0000
4,Nb2 S4,P6_3/m2/m2/c,5.508096,5.508096,5.508100,60.0000,60.0000,60.0000
...,...,...,...,...,...,...,...,...
645948,Zn4 H74 C68 O26,P1,17.077400,17.077401,18.050584,90.0148,90.0370,90.0209
645949,Cu2 H28 C24 N14 O8,P1,9.482900,10.654546,10.968097,84.5992,87.4517,80.5724
645950,Zn2 H13 C53 N17 O8,P1,9.730220,10.540540,10.654537,84.5047,89.9999,89.9989
645951,Zn12 H72 C120 O48,P1,23.203240,23.204048,23.204068,60.0005,60.0013,60.0012
645952,Zn2 H40 C43 N2 O19,P1,14.044220,14.048230,14.971486,89.9933,88.4015,89.9987

In [26]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [36]:
norm_a_list = scaler.fit_transform(new_combined['a'].to_numpy().reshape(-1,1)).flatten()
norm_b_list = scaler.fit_transform(new_combined['b'].to_numpy().reshape(-1,1)).flatten()
norm_c_list = scaler.fit_transform(new_combined['c'].to_numpy().reshape(-1,1)).flatten()
norm_alpha_list = scaler.fit_transform(new_combined['alpha'].to_numpy().reshape(-1,1)).flatten()
norm_beta_list = scaler.fit_transform(new_combined['beta'].to_numpy().reshape(-1,1)).flatten()
norm_gama_list = scaler.fit_transform(new_combined['gama'].to_numpy().reshape(-1,1)).flatten()

norm_a_list

array([-0.7382697 , -0.7382697 , -0.7382697 , ...,  0.05729422,
        2.59598059,  0.8701701 ])

In [37]:
sample_dict={
    'formula':new_combined['formula'].to_list(),
    'spg_symbol':new_combined['spg_symbol'].to_list(),
    'a':norm_a_list.tolist(),
    'b':norm_b_list.tolist(),
    'c':norm_c_list.tolist(),
    'alpha':norm_alpha_list.tolist(),
    'beta':norm_beta_list.tolist(),
    'gama':norm_gama_list.tolist(),

}

In [31]:
df['formula']

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
          ...
42998    HoPaTc2
42999    HoLuCu2
43000    Li2TlHg
43001    LaNdMg2
43002       KIn3
Name: formula, Length: 291831, dtype: object

In [7]:
df = pd.read_json('./pretrain_data/norm_combined.json')
df

,formula,spg_symbol,a,b,c,alpha,beta,gama
0,Ca2 Mn2 Si2,P4/n2_1/m2/m,-1.040198,-1.058186,1.850505,0.042241,-0.163288,0.135576
1,Rb2 Mn2 P2,P4/n2_1/m2/m,-1.044325,-1.061562,2.038929,0.042241,-0.163288,0.135576
2,Tm1 Co2 B2 C1,I4/m2/m2/m,-1.110382,-1.115604,-0.977559,1.171639,0.842580,0.135576
3,Tm2 Co4 B4 C2,I4/m2/m2/m,-1.109779,-1.115111,-0.378723,0.042241,-0.163288,0.135576
4,Tm2 Co4 B4 C2,P4mm,-1.109779,-1.115111,-0.378723,0.042241,-0.163288,0.135576
...,...,...,...,...,...,...,...,...
642454,Zn4 H74 C68 O26,P1,1.427002,0.960234,0.605300,0.043190,-0.161175,0.136650
642455,Cu2 H28 C24 N14 O8,P1,0.009451,-0.020553,-0.306398,-0.303958,-0.308771,-0.348853
642456,Zn2 H13 C53 N17 O8,P1,0.055615,-0.037962,-0.346761,-0.310016,-0.163293,0.135520
642457,Zn12 H72 C120 O48,P1,2.570421,1.895790,1.268685,-1.880771,-1.875921,-1.405885
642458,Zn2 H40 C43 N2 O19,P1,0.860844,0.497671,0.208941,0.041812,-0.254546,0.135509

In [9]:
import json
with open('./sgt/spg_dict.json','r') as file:
    dict = json.load(file)

In [17]:
max = 0
for keys,values in dict.items():
    if max < len(values):
        max = len(values)
max
    # break

12

In [8]:
max_e = 0
for x in df['formula']:
    n_elements = len(x.split(' '))
    if max_e < n_elements:
        max_e = n_elements
max_e

20

In [5]:
from sgt.utils_my import get_spg_tokens

In [6]:
get_spg_tokens('P1')

['P1',
 'spg_1',
 '1.0',
 '1',
 'triclinic',
 '-1',
 'Enantiomorphic',
 'non_polar',
 'P',
 '1',
 '1',
 '1']

In [ ]:
get_aflow_label_from_spglib()

In [ ]:
get_aflow_label_from_spg_analyzer()

In [ ]:
df = pd.read_csv('./data/mp.csv')
df

In [20]:
df = pd.read_json('./pretrain_data/norm_combined.json')
df

,formula,spg_symbol,a,b,c,alpha,beta,gama
0,Ca2 Mn2 Si2,P4/n2_1/m2/m,-1.040198,-1.058186,1.850505,0.042241,-0.163288,0.135576
1,Rb2 Mn2 P2,P4/n2_1/m2/m,-1.044325,-1.061562,2.038929,0.042241,-0.163288,0.135576
2,Tm1 Co2 B2 C1,I4/m2/m2/m,-1.110382,-1.115604,-0.977559,1.171639,0.842580,0.135576
3,Tm2 Co4 B4 C2,I4/m2/m2/m,-1.109779,-1.115111,-0.378723,0.042241,-0.163288,0.135576
4,Tm2 Co4 B4 C2,P4mm,-1.109779,-1.115111,-0.378723,0.042241,-0.163288,0.135576
...,...,...,...,...,...,...,...,...
642454,Zn4 H74 C68 O26,P1,1.427002,0.960234,0.605300,0.043190,-0.161175,0.136650
642455,Cu2 H28 C24 N14 O8,P1,0.009451,-0.020553,-0.306398,-0.303958,-0.308771,-0.348853
642456,Zn2 H13 C53 N17 O8,P1,0.055615,-0.037962,-0.346761,-0.310016,-0.163293,0.135520
642457,Zn12 H72 C120 O48,P1,2.570421,1.895790,1.268685,-1.880771,-1.875921,-1.405885
642458,Zn2 H40 C43 N2 O19,P1,0.860844,0.497671,0.208941,0.041812,-0.254546,0.135509

In [25]:
new_df=pd.DataFrame({})
new_df

Empty DataFrame
Columns: []
Index: []

In [43]:
new_df = df.iloc[:0]
new_df

Empty DataFrame
Columns: [formula, spg_symbol, a, b, c, alpha, beta, gama]
Index: []

In [44]:
all_df = pd.read_json('./pretrain_data/all_norm_clean.json')
all_df

,formula,spg_symbol,a,b,c,alpha,beta,gama
0,Tl1 Ag1 Te2,I-4m2,-0.738270,-0.803827,-0.976326,-1.589717,-1.579848,-1.245061
1,Ga4 Te4,P6_3/m2/m2/c,-0.738270,-0.803827,-0.976326,-1.589717,-1.579848,-1.245061
2,Ta1 S2,R3m,-0.738270,-0.803827,-0.976326,-1.589717,-1.579848,-1.245061
3,Ti2 Se2,P6_3/m2/m2/c,-0.738270,-0.803827,-0.976326,-1.589717,-1.579848,-1.245061
4,Nb2 S4,P6_3/m2/m2/c,-0.738270,-0.803827,-0.976326,-1.589717,-1.579848,-1.245061
...,...,...,...,...,...,...,...,...
645948,Zn4 H74 C68 O26,P1,1.441704,0.970038,0.626582,0.202788,-0.002794,0.279146
645949,Cu2 H28 C24 N14 O8,P1,0.010692,-0.014747,-0.278548,-0.120636,-0.138531,-0.200569
645950,Zn2 H13 C53 N17 O8,P1,0.057294,-0.032227,-0.318620,-0.126279,-0.004741,0.278029
645951,Zn12 H72 C120 O48,P1,2.595981,1.909406,1.285188,-1.589687,-1.579780,-1.245000
645952,Zn2 H40 C43 N2 O19,P1,0.870170,0.505590,0.233078,0.201504,-0.088663,0.278019

In [37]:
import itertools
new_df = df.iloc[:0]
for idx in range(len(df)):
    elements = df['formula'][idx].split(' ')
    # print(elements)
    permutations = list(itertools.permutations(elements))

    for p in permutations:
        new_formula = (' '.join(p))
        new_row = df.iloc[idx:idx+1,1:]
        new_row['formula'] = new_formula
        new_df = pd.concat([new_df,new_row])
    # break
new_df

:

:

In [ ]:
new_df.to_csv('./pretrain_data/augmen.csv',index=None)

,formula,spg_symbol,a,b,c,alpha,beta,gama
0,Ca2 Mn2 Si2,P4/n2_1/m2/m,-1.040198,-1.058186,1.850505,0.042241,-0.163288,0.135576
0,Ca2 Si2 Mn2,P4/n2_1/m2/m,-1.040198,-1.058186,1.850505,0.042241,-0.163288,0.135576
0,Mn2 Ca2 Si2,P4/n2_1/m2/m,-1.040198,-1.058186,1.850505,0.042241,-0.163288,0.135576
0,Mn2 Si2 Ca2,P4/n2_1/m2/m,-1.040198,-1.058186,1.850505,0.042241,-0.163288,0.135576
0,Si2 Ca2 Mn2,P4/n2_1/m2/m,-1.040198,-1.058186,1.850505,0.042241,-0.163288,0.135576
...,...,...,...,...,...,...,...,...
16455,S2 C2 Mn2 O14 Na4,P12_1/m1,-0.772796,-0.599206,-0.549101,0.042241,-0.148912,0.135576
16455,S2 C2 O14 Na4 Mn2,P12_1/m1,-0.772796,-0.599206,-0.549101,0.042241,-0.148912,0.135576
16455,S2 C2 O14 Mn2 Na4,P12_1/m1,-0.772796,-0.599206,-0.549101,0.042241,-0.148912,0.135576
16455,S2 O14 Na4 Mn2 C2,P12_1/m1,-0.772796,-0.599206,-0.549101,0.042241,-0.148912,0.135576
16455,S2 O14 Na4 C2 Mn2,P12_1/m1,-0.772796,-0.599206,-0.549101,0.042241,-0.148912,0.135576

In [46]:
def frac(n):
    if n == 1:
        return 1
    else:
        return n * frac(n-1)
frac(20)

2432902008176640000

In [18]:
from pymatgen.core import Composition
Composition(new_formula).formula

'Ca2 Mn2 Si2'

In [ ]:
import torch
position_id = torch.cat([torch.arange(2,130+1),-1*torch.ones(20).type(torch.int)])
position_id

In [ ]:
position_id.shape

In [ ]:
wbm = pd.read_csv('./data/wbm.csv')
wbm